<div class="container home-container">
  <div class="row">
    <div class="col-lg-9">
      <% if @quotes %>
        <% @quotes.each do |quote| %>
          <div class="col-lg-4 quote-card">
            <div class="quote-text"><p><%= quote.body %></p></div>
            <div class="quote-category"></div>
            <div class="quote-social">
              <i class="fa fa-twitter fa-2x fa-edits tw"></i>
              <i class="fa fa-facebook fa-2x fa-edits fb"></i>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>Create more quotes for nice display</h3>
      <% end %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
