h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.home-container {
  margin: 0;
  width: 100%;
}

.quote-card {
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 1px 1px #cccccc;
  display: inline !important;
  margin: 10px;
  width: 30%;
  padding: 0;

  .quote-text {
    min-height: 20em;
    padding: 1em 0.8em 0;
  }

  .quote-category {
    height: 2.5em;
    background-color: #f6f6f6;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }

  .quote-social {
    height: 2.5em;
    margin: 0 11.5px;
  }
}

.fa-edits {
  font-size: 18px;
  margin-top: 5.5px;
}

.fa-facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 100%;
  height: 24px;
  padding: 0 auto;
  width: 24px;
}

.fa-facebook::before {
  color: #ffffff;
  margin-top: 2px;
  padding-left: 5px;
}

.fa-twitter {
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.fa-twitter::before {
  color: #ffffff;
  padding-left: 3px;
}