.header-general {
  background-color: green;
}

.nav-member {
  display: inline-block;
  vertical-align: center;

  .link {
    color: white;
    cursor: pointer;
  }
}

.link.logo {
  font-family: 'Open Sans';
  font-size: 2em;
  margin: 0 30px;

  &:hover {
    text-decoration: none;
  }
}

.link.page {
  margin: 8px;

  &:hover {
  
  }
}